parameters:
    level: 6
    paths:
        - src
        - tests
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false



