parameters:
    level: 6
    paths:
        - src
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        - message: '#^Undefined variable: \$this$#'
          path:
               - tests/*

